n8n/news-search-and-filter.json
{
    "name": "news search and filter",
    "nodes": [
        {
            "parameters": {
                "modelName": "models/gemma-4-31b-it",
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
            "typeVersion": 1,
            "position": [
                -480,
                -272
            ],
            "id": "966323d5-4901-41f0-a487-0d17dfb92ea1",
            "name": "Google Gemini Chat Model",
            "credentials": {
                "googlePalmApi": {
                    "id": "HBNSeIDY6xZpTDd8",
                    "name": "Google Gemini(PaLM) Api account 2"
                }
            }
        },
        {
            "parameters": {
                "path": "latest-news",
                "responseMode": "lastNode",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                -1696,
                -400
            ],
            "id": "c4e6f637-c45d-48da-865c-2a271da243fe",
            "name": "Webhook",
            "webhookId": "2e95bc18-52d8-4d33-97f4-b4919cfd44b9"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "7a268f21-4521-4027-88fa-4103363d118d",
                            "name": "address",
                            "value": "={{ $json.body.address }}",
                            "type": "string"
                        },
                        {
                            "id": "d880eba4-85fe-433a-98af-d6d43fbe0d4a",
                            "name": "symbol",
                            "value": "={{ $json.body.symbol }}",
                            "type": "string"
                        },
                        {
                            "id": "6cdb7e16-23e3-4100-bcf9-dd67384522cf",
                            "name": "token_name",
                            "value": "={{ $json.body.name }}",
                            "type": "string"
                        },
                        {
                            "id": "d9096813-8b3e-4c8e-b56f-ec107a28770b",
                            "name": "current_time",
                            "value": "={{ $now.format('MMMM yyyy') }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                -1488,
                -400
            ],
            "id": "f792d64c-c859-41e7-916d-5b0054311c03",
            "name": "keywords extractor"
        },
        {
            "parameters": {
                "operation": "news",
                "query": "=token {{ $json.token_name }}({{ $json.symbol }}) latest news in {{ $json.current_time }}",
                "count": 10,
                "additionalParameters": {
                    "search_lang": "en",
                    "freshness": "pm"
                }
            },
            "type": "@brave/n8n-nodes-brave-search.braveSearch",
            "typeVersion": 1,
            "position": [
                -1296,
                -496
            ],
            "id": "4d0cc4df-fc9f-4b92-8ffd-ac698724fc75",
            "name": "search news",
            "credentials": {
                "braveSearchApi": {
                    "id": "ZJkqXgCuoeu5QoyG",
                    "name": "Brave Search account"
                }
            }
        },
        {
            "parameters": {
                "fieldToSplitOut": "results",
                "include": "={{ $json.results }}",
                "options": {}
            },
            "type": "n8n-nodes-base.splitOut",
            "typeVersion": 1,
            "position": [
                -1072,
                -496
            ],
            "id": "c8eed328-0136-4204-a775-3e7c6e357c64",
            "name": "Split Out"
        },
        {
            "parameters": {
                "mode": "raw",
                "jsonOutput": "={\n  \"title\": \"{{ $json.results.title }}\",\n  \"url\": \"{{ $json.results.url }}\",\n  \"description\": \"{{ $json.results.description }}\",\n  \"timestamp\": \"{{ $json.results.page_age }}\",\n  \"meta\": {\n      \"favicon\": \"{{ $json.results.meta_url.favicon }}\",\n      \"source\": \"{{ $json.results.profile.name }}\"\n  }\n  \"extra_snippets\": {{ $json.results.extra_snippets }}\n}\n",
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                -848,
                -496
            ],
            "id": "f9936bc5-6152-44c6-be92-80264b5d35f4",
            "name": "normalize entries"
        },
        {
            "parameters": {
                "aggregate": "aggregateAllItemData",
                "destinationFieldName": "entry",
                "options": {}
            },
            "type": "n8n-nodes-base.aggregate",
            "typeVersion": 1,
            "position": [
                -640,
                -496
            ],
            "id": "247c93cb-a9d4-46e8-82cf-f32d4a322c51",
            "name": "Aggregate"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "=You are filtering crypto news articles for relevance.\n\nTarget token:\n- Name: {{ $('keywords extractor').item.json.token_name }}\n- Symbol: {{ $('keywords extractor').item.json.symbol }}\n\nTask:\nReturn only articles where the token is the PRIMARY subject or directly involved in a significant event.\n\nInclude articles if they involve:\n- Official announcements (partnerships, integrations, product launches)\n- Exchange listings or delistings\n- Protocol or ecosystem updates (upgrades, roadmap, new features)\n- Governance proposals or decisions\n- Security incidents or exploits involving the token/protocol\n- Fundraising, investments, or major backers invole with the token\n- Major ecosystem activity where the token plays a central role\n\nInclude articles if:\n- The token is directly involved in a concrete event, EVEN IF other tokens are also mentioned\n\nExamples of valid multi-token events:\n- Token unlock schedules\n- Exchange listings involving multiple assets\n- Market reports with specific data tied to the token\n\nExclude articles if:\n- The token is mentioned without any specific data, event, or impact\n- The token is only briefly mentioned or listed among many others\n- The focus is general market movement (price, volume, “top gainers/losers”)\n- The article is generic analysis without specific events tied to the token\n- The token appears only as a comparison or reference\n\nDecision rule:\nKeep the article if:\n- The token is central to the article’s main topic\n- It contains specific, actionable information about the token\n  (e.g., dates, amounts, events, decisions)\n\nEven if:\n- The article includes multiple tokens\n- The token is not the sole focus\n\n- If removing the token would not change the article meaningfully → EXCLUDE\n\nOutput:\n- Return a JSON array of only the relevant articles\n- Preserve original fields\n\nArticles:\n{{ JSON.stringify($json.entry, null, 2) }}",
                "hasOutputParser": true,
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 3.1,
            "position": [
                -416,
                -496
            ],
            "id": "7addd1e9-2303-4f3d-911e-52f68f8252e6",
            "name": "LLM filter gate",
            "retryOnFail": true,
            "maxTries": 5,
            "waitBetweenTries": 2000
        },
        {
            "parameters": {
                "jsonSchemaExample": "{\n  \"entry\": [\n    {\n      \"title\": \"...\",\n      \"url\": \"...\",\n      \"description\": \"...\",\n      \"timestamp\": \"...\",\n      \"meta\": {\n          \"favicon\": \"...\",\n          \"source\": \"...\"\n      },\n      \"extra_snippets\": [\"...\"]\n    }\n  ]\n}\n"
            },
            "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
            "typeVersion": 1.3,
            "position": [
                -240,
                -272
            ],
            "id": "feeeb5c1-d3f1-4817-b110-5ec6482576f2",
            "name": "Structured Output Parser1"
        }
    ],
    "pinData": {},
    "connections": {
        "Google Gemini Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "LLM filter gate",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook": {
            "main": [
                [
                    {
                        "node": "keywords extractor",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "keywords extractor": {
            "main": [
                [
                    {
                        "node": "search news",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "search news": {
            "main": [
                [
                    {
                        "node": "Split Out",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Split Out": {
            "main": [
                [
                    {
                        "node": "normalize entries",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "normalize entries": {
            "main": [
                [
                    {
                        "node": "Aggregate",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Aggregate": {
            "main": [
                [
                    {
                        "node": "LLM filter gate",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "LLM filter gate": {
            "main": [
                []
            ]
        },
        "Structured Output Parser1": {
            "ai_outputParser": [
                [
                    {
                        "node": "LLM filter gate",
                        "type": "ai_outputParser",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1",
        "binaryMode": "separate"
    },
    "versionId": "4fd226d7-4059-4a2f-94d9-7d7490cc1c42",
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "c1d9efe4dc893fa1cde1e77ad371a674fc7a4f0335ece7ea9b08296076320464"
    },
    "id": "yRRRy6Qb6nj38E13",
    "tags": []
}